.page__hero--overlay {
    padding: 5em 0;
  }

.archive__item-teaser{
    max-height: 34vh;
  }
  
img[src~="lim_height"]{
    max-height: 30vh;
  }

h2 {
    color: rgb(23, 23, 194);}

p {

  strong {
    color: black;
  }

}

a {
  color:rgb(29, 128, 194);
  &:visited {
    color: rgb(29, 128, 194);
  }
}

li {
  color:black;
}

h3 {
  color: black;
}

.btn--primary {
  background-color: black;
  color: #fff;
}

.btn--primary:visited {
  background-color: black;
  color: #fff;
}

.navLogo{
  height: 2.5rem;
}
.archive {
  p {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.greedy-nav a {
  display: block;
  margin: 0 1rem;
  color:rgb(23, 23, 194);
  font-weight: 500;
}

body {
  color: black;
}


.page__footer-copyright {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 0.6875em;
  color: rgb(10, 163, 148);
}